name: Deploy

on:
  push:
    branches:
      - main

jobs:
  run-vercel:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.1.43"

      - name: Install dependencies
        run: bun install

      - name: Vercel Deploy
        run: bunx vercel deploy --yes --token=${{ secrets.VERCEL_TOKEN }} --prod --scope=rocicorp
